
</div>
<div class="footer-padding"></div>
  <div class="footer">

    <p>
      <a href="https://www.instagram.com/" target="_blank" style="color:#e6004c; text-decoration: none;"><i class="fab fa-instagram"></i> Instagram&nbsp;&nbsp;</a>
      <a href="https://www.facebook.com/" target="_blank" style="color:#4d4dff; text-decoration: none;"><i class="fab fa-facebook"></i> facebook</a>
      <br>
      Copyright © Blog it out
    </p>
  </div>
</div>
</body>

<script>
    const toggleButton = document.getElementsByClassName("toggle-button")[0];
    const navbarLinks = document.getElementsByClassName('navbar-links')[0];

    toggleButton.addEventListener("click", () => {
        navbarLinks.classList.toggle('active');
    });

</script>

</html>
