<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logout</title>
  </head>
  <body style="background-color:rgba(15, 194, 15, 0.733);">
    <h1 style="padding-left:20px;padding-top:10px;font-size:100px;margin-left:10px;">Logout</h1>
    <p style="padding-left:20px;padding-top:10px;margin-left:10px;">
      You have successfully logged out.
    </p>
  </body>
</html>
